.health-buff-debuff-tracker-layout-top-area {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.health-buff-debuff-tracker-layout-top-area > p {
  flex: 1;
}
.health-buff-debuff-tracker-layout-top-area button {
  padding: 1em;
}

.health-buff-debuff-tracker-layout-body-area {
  width: 100%;
  overflow: auto;
}